<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bootstrap Home Page</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="https://t4.ftcdn.net/jpg/04/84/78/85/360_F_484788506_7GScMKPVlR6Vt6YODBLPWNjCf13PWn1c.jpg">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link">Home</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Hero Section -->
    <header class="jumbotron text-center">
        <img src ="https://cdn.luxe.digital/media/20230105062942/fastest-motorcycles-ranking-top-speed-list-luxe-digital.jpg" width=450px; height=150px; top:30px; />
        <br />
        <br />
        <a href="https://localhost:44366/Identity/Account/Login" class="btn btn-primary">Get Started</a>
    </header>

    <!-- Main Content Section -->
    <section class="container mt-4">
        <h2>Featured Products</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Motorcycles</h5>
                        <p class="card-text">Take a look at our new fresh motorcycles and take one for yourself</p>
                        <a href="https://localhost:44366/Motor" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Equipment</h5>
                        <p class="card-text">Rule number 1 Buy safe, take a look at our equipment and buy one for yourself</p>
                        <a href="https://localhost:44366/Motor?SearchStringBrandName=&SearchStringCategoryName=Dresses" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Registration</h5>
                        <p class="card-text">You liked something? Go and order it when you make a registration</p>
                        <a href="https://localhost:44366/Identity/Account/Register" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
  
</body>